 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(145deg, rgba(104, 34, 171, 0.8), rgba(13, 165, 140, 0.8));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 282px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 255px;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 546px;
  height: 161px;
  filter: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Silkscreen;
  text-shadow: 2px 2px 8px rgba(44,204,196,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 609px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  border-style: solid;
  box-shadow: 0px 0 20px 2px rgba(2,3,2,0.6);
  background-image: none;
  margin: 43px -10px 0 370px;
  padding: 14px 22px 16px 20px;
}

.u-section-1 .u-btn-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  border-style: solid;
  box-shadow: 0px 0 20px 2px rgba(2,3,2,0.6);
  background-image: none;
  margin: -55px 356px 0 auto;
  padding: 14px 26px 16px 25px;
}

.u-section-1 .u-icon-3 {
  width: 29px;
  height: 29px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -20px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 155px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 387px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-1 .u-btn-1 {
    --radius: 2px;
    font-weight: 700;
    font-size: 0.9375rem;
    transition-duration: 0.2s;
    transform: scale(1.2) translateX(0px) translateY(0px);
    margin-left: 170px;
    padding: 7px 9px 8px 7px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 332px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 336px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 153px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 351px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 94px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/db37211d-cbef-4b0e-81a0-0da3883785e4.png");
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-image-1 {
  width: 514px;
  height: 65px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 391px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 202px;
  height: 202px;
  background-image: url("images/gonom.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 392px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 12px 21px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 8px 13px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: 9px 637px 0 0;
  padding: 9px 5px 10px;
}

.u-section-2 .u-icon-1 {
  margin-right: 0;
  vertical-align: 0px;
  font-size: 1.3334em;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: -51px auto 0 227px;
  padding: 9px 3px 10px;
}

.u-section-2 .u-icon-2 {
  margin-right: 0;
  vertical-align: 0px;
  font-size: 1.3334em;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: -51px 203px 0 auto;
  padding: 9px 7px;
}

.u-section-2 .u-icon-3 {
  margin-right: 0;
  vertical-align: 0px;
  font-size: 1.3334em;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: -50px 13px 0 auto;
  padding: 9px 7px 10px 6px;
}

.u-section-2 .u-icon-4 {
  margin-right: 0;
  vertical-align: 0px;
  font-size: 1.3334em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-2 .u-image-2 {
    background-size: 140%;
    margin-top: 87px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-duration: 4000ms;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 480px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 70px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 46px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-2 .u-image-2 {
    width: 156px;
    height: 156px;
    margin-top: 93px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 308px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 855px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 396px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 43px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 226px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 106px;
  }
} .u-section-3 {
  background-repeat: no-repeat;
  background-image: linear-gradient(145deg, rgba(104,34,171,0.8), rgba(13,165,140,0.8));
  background-position: 50% 50%;
  filter: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 976px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 65px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
}

.u-section-3 .u-image-2 {
  min-height: 345px;
  background-image: url("images/synth-collection.png");
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  height: auto;
  min-height: 82px;
  margin-top: 233px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  margin: 3px 11px 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 50px;
  width: 338px;
  margin: -50px auto 0;
}

.u-section-3 .u-image-3 {
  min-height: 345px;
  background-image: url("images/Cover.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  height: auto;
  min-height: 82px;
  margin-top: 233px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  margin: 3px 11px 0;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 50px;
  width: 338px;
  margin: -50px auto 0;
}

.u-section-3 .u-image-4 {
  min-height: 345px;
  background-image: url("images/Cover1.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  height: auto;
  min-height: 82px;
  margin-top: 233px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 3px 11px 0;
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 50px;
  width: 338px;
  margin: -50px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  --radius: 50px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-3 .u-image-5 {
  min-height: 345px;
  background-image: url("images/chiptune-collection.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-group-4 {
  height: auto;
  min-height: 82px;
  margin-top: 233px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 3px 11px 0;
}

.u-section-3 .u-custom-html-4 {
  height: auto;
  min-height: 50px;
  width: 338px;
  margin: -50px auto 0;
}

.u-section-3 .u-image-6 {
  min-height: 345px;
  background-image: url("images/partomania11.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  background-size: cover;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-group-5 {
  height: auto;
  min-height: 82px;
  margin-top: 233px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 3px 11px 0;
}

.u-section-3 .u-custom-html-5 {
  height: auto;
  min-height: 50px;
  width: 338px;
  margin: -50px auto 0;
}

.u-section-3 .u-image-7 {
  min-height: 345px;
  background-image: url("images/Cover2.png");
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-group-6 {
  height: auto;
  min-height: 82px;
  margin-top: 233px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 3px 11px 0;
}

.u-section-3 .u-custom-html-6 {
  height: auto;
  min-height: 50px;
  width: 338px;
  margin: -50px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  font-size: 1.5rem;
  border-style: solid;
  margin: 50px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-size: cover;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 53px;
    margin-top: 70px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    --radius: 50px;
  }

  .u-section-3 .u-image-2 {
    min-height: 284px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 224px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    width: 213px;
  }

  .u-section-3 .u-image-3 {
    min-height: 284px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: 213px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-2 {
    width: 213px;
  }

  .u-section-3 .u-image-4 {
    min-height: 284px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    width: 213px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-3 {
    width: 213px;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-image-5 {
    min-height: 284px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    width: 224px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-4 {
    width: 293px;
  }

  .u-section-3 .u-image-6 {
    min-height: 284px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-text-5 {
    width: 213px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-5 {
    width: 293px;
  }

  .u-section-3 .u-image-7 {
    min-height: 284px;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-text-6 {
    width: 213px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-6 {
    width: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 41px;
    margin-top: 76px;
  }

  .u-section-3 .u-image-2 {
    min-height: 218px;
  }

  .u-section-3 .u-text-1 {
    width: 220px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 158px;
  }

  .u-section-3 .u-image-3 {
    min-height: 218px;
  }

  .u-section-3 .u-text-2 {
    width: 158px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 158px;
  }

  .u-section-3 .u-image-4 {
    min-height: 218px;
  }

  .u-section-3 .u-text-3 {
    width: 158px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 158px;
  }

  .u-section-3 .u-image-5 {
    min-height: 218px;
  }

  .u-section-3 .u-text-4 {
    width: 220px;
  }

  .u-section-3 .u-custom-html-4 {
    width: 220px;
  }

  .u-section-3 .u-image-6 {
    min-height: 218px;
  }

  .u-section-3 .u-text-5 {
    width: 158px;
  }

  .u-section-3 .u-custom-html-5 {
    width: 220px;
  }

  .u-section-3 .u-image-7 {
    min-height: 218px;
  }

  .u-section-3 .u-text-6 {
    width: 158px;
  }

  .u-section-3 .u-custom-html-6 {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2216px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 31px;
    margin-top: 50px;
  }

  .u-section-3 .u-image-2 {
    min-height: 654px;
  }

  .u-section-3 .u-image-3 {
    min-height: 654px;
  }

  .u-section-3 .u-image-4 {
    min-height: 654px;
  }

  .u-section-3 .u-image-5 {
    min-height: 945px;
  }

  .u-section-3 .u-image-6 {
    min-height: 945px;
  }

  .u-section-3 .u-image-7 {
    min-height: 945px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 446px;
  }

  .u-section-3 .u-image-3 {
    min-height: 412px;
  }

  .u-section-3 .u-image-4 {
    min-height: 412px;
  }

  .u-section-3 .u-image-5 {
    min-height: 309px;
  }

  .u-section-3 .u-image-6 {
    min-height: 595px;
  }

  .u-section-3 .u-image-7 {
    min-height: 595px;
  }
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before,
.u-section-3 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-6,
.u-section-3 .u-image-6:before,
.u-section-3 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-image-7,
.u-section-3 .u-image-7:before,
.u-section-3 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: url("images/db37211d-cbef-4b0e-81a0-0da3883785e4.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.u-section-4 .u-sheet-1 {
  min-height: 1231px;
}

.u-section-4 .u-image-1 {
  width: 588px;
  height: 67px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 494px;
  filter: none;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-4 .u-image-2 {
  filter: none;
  height: 238px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  height: auto;
  width: 510px;
  min-height: 117px;
  margin: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  margin: 0 0 0 5px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: 12px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 471px;
  transition-duration: 0.5s;
  margin-bottom: 24px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 21px;
}

.u-section-4 .u-image-3 {
  height: 238px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-2 {
  height: auto;
  min-height: 143px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.71;
  margin: 0 5px 0 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-wrap-2 {
  width: 540px;
  margin: 16px auto 58px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 483px;
  filter: none;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0 21px;
}

.u-section-4 .u-image-4 {
  filter: none;
  height: 238px;
  width: 510px;
  margin: 0 0 0 30px;
}

.u-section-4 .u-group-3 {
  height: auto;
  width: 510px;
  min-height: 141px;
  margin: 0 30px;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 0 0 5px;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: none;
  border-style: solid;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-size: cover;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-4 .u-image-2 {
    inset: auto;
    height: 192px;
  }

  .u-section-4 .u-group-1 {
    width: 410px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-4 .u-image-3 {
    height: 192px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-image-4 {
    inset: auto;
    height: 126px;
    width: 270px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    width: 270px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 140px;
  }

  .u-section-4 .u-group-1 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 140px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 62px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 243px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 39px;
  }

  .u-section-4 .u-image-2 {
    height: 150px;
  }

  .u-section-4 .u-image-3 {
    height: 150px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-image-4 {
    height: 79px;
    width: 170px;
  }
}

.u-section-4 .u-layout-cell-1,
.u-section-4 .u-layout-cell-1:before,
.u-section-4 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-2,
.u-section-4 .u-layout-cell-2:before,
.u-section-4 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-3,
.u-section-4 .u-layout-cell-3:before,
.u-section-4 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-repeat: no-repeat;
  background-image: linear-gradient(145deg, rgba(104,34,171,0.8), rgba(13,165,140,0.8));
  background-position: 50% 50%;
  filter: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 645px;
}

.u-section-5 .u-image-1 {
  width: 596px;
  height: 68px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  margin: 25px auto 0 11px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 0 558px 0 11px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-form-1 {
  height: 400px;
  margin: 2px 505px 0 0;
}

.u-section-5 .u-image-2 {
  width: 311px;
  height: 311px;
  margin: -329px 50px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-size: cover;
  }

  .u-section-5 .u-text-2 {
    margin-right: 358px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 138px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 62px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 39px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 29px;
  }
}.gradient-border {
  border: 4px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(142deg, #a033db, #00e6b8) border-box;
  border-radius: 0px;
}